html {
  font-size: 20px;
}
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Cambria", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  max-width: 800px;
  text-align: center;
}
body,
div {
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.photo {
  border: 2px solid #d0d0d0;
  border-radius: 50%;
  margin: 1rem;
  width: 250px;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.title.small {
  font-size: 2rem;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  max-width: 600px;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}
.link {
  width: 4rem;
  margin: 0px auto;
}
@media (max-width: 500px) {
  .title {
    font-size: 2.5rem;
  }
  .link-container {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .link {
    flex-basis: 50%;
    margin-bottom: 1em;
  }
  .link a {
    text-decoration: underline;
  }
}

@keyframes ellipsis1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ellipsis2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ellipsis3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  opacity: 0;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.loading1 {
  animation-name: ellipsis1;
}
.loading2 {
  animation-name: ellipsis2;
}
.loading3 {
  animation-name: ellipsis3;
}

.project-category-container {
  margin: 1rem 0px;
  border-top: 1px solid lightgrey;
}
.project-category-container:first-child {
  border-top: none;
}
.project-category-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.75rem auto;
}
.project-category-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.project-container {
  width: 260px;
  margin: 0.5rem 0rem;
}
.project-category-content.two {
  width: 67%;
}
.project-container a {
  color: inherit;
  text-decoration: none;
}
.project-preview {
  max-width: 100%;
  height: 100px;
  margin: 5px auto;
}
.project-name {
  font-size: 1rem;
  margin: 5px auto;
}
.project-name:hover {
  text-decoration: underline;
}
.project-description {
  font-size: 0.8rem;
  font-weight: normal;
}
.project-description a {
  color: blue;
  text-decoration: underline;
}
.project-date {
  font-size: 0.8rem;
  font-weight: normal;
  color: #888;
}

#footer a {
  color: blue;
  font-size: 0.8rem;
  padding-bottom: 30px;
}

.description {
  font-size: 0.8rem;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}
